<a href="https://colab.research.google.com/github/harirm85/Hari_ML_workshop/blob/main/EDA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.float_format = '{:,.2f}'.format

In [2]:
# Connect to Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Copy the Jason file and set security
!mkdir -p ~/.kaggle
!cp '/content/drive/MyDrive/Kaggle/kaggle.json' ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

#Download data
!kaggle competitions download -c home-credit-default-risk

import zipfile

# Specify the path to the downloaded zip file
zip_path = "/content/home-credit-default-risk.zip"

# Specify the directory to extract the files to
extract_path = "/content/home-credit-default-risk"

# Extract the zip file
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

Mounted at /content/drive
Downloading home-credit-default-risk.zip to /content
 97% 668M/688M [00:06<00:00, 149MB/s]
100% 688M/688M [00:06<00:00, 117MB/s]

In [3]:
#Take app train data and load to DF
bur_data = pd.read_csv('/content/home-credit-default-risk/bureau.csv')

print(bur_data.shape)

(1716428, 17)

In [5]:
bur_data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   SK_ID_CURR              1716428 non-null  int64
 1   SK_ID_BUREAU            1716428 non-null  int64
 2   CREDIT_ACTIVE           1716428 non-null  object
 3   CREDIT_CURRENCY         1716428 non-null  object
 4   DAYS_CREDIT             1716428 non-null  int64
 5   CREDIT_DAY_OVERDUE      1716428 non-null  int64
 6   DAYS_CREDIT_ENDDATE     1610875 non-null  float64
 7   DAYS_ENDDATE_FACT       1082775 non-null  float64
 8   AMT_CREDIT_MAX_OVERDUE  591940 non-null   float64
 9   CNT_CREDIT_PROLONG      1716428 non-null  int64
 10  AMT_CREDIT_SUM          1716415 non-null  float64
 11  AMT_CREDIT_SUM_DEBT     1458759 non-null  float64
 12  AMT_CREDIT_SUM_LIMIT    1124648 non-null  float64
 13  AMT_CREDIT_SUM_OVERDUE  1716428 non-null  float64
 14  CREDIT_TYPE             1716428 non-null  object
 15  DAYS_CREDIT_UPDATE      1716428 non-null  int64
 16  AMT_ANNUITY             489637 non-null   float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

In [39]:
bur_data[bur_data['SK_ID_CURR']==456249]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
776765,456249,5371696,Closed,currency 1,-1454,0,"-1,181.00","-1,240.00","18,945.00",0,"120,183.66",0.00,0.00,0.00,Consumer credit,-1240,NaN
776766,456249,5371700,Closed,currency 1,-1911,0,"-1,727.00","-1,740.00",NaN,0,"248,692.50",0.00,NaN,0.00,Consumer credit,-1723,NaN
776767,456249,5371701,Closed,currency 1,-1490,0,"-1,125.00","-1,165.00",NaN,0,"450,000.00",NaN,NaN,0.00,Consumer credit,-1165,NaN
776768,456249,5371702,Closed,currency 1,-1250,0,-914.00,-914.00,NaN,0,"540,000.00",NaN,NaN,0.00,Consumer credit,-909,NaN
1534300,456249,5371694,Closed,currency 1,-2713,0,"-2,499.00","-2,525.00","11,790.00",0,"64,395.00",0.00,0.00,0.00,Consumer credit,-2498,NaN
1534301,456249,5371695,Active,currency 1,-2612,0,"-1,497.00","-1,318.00",0.00,0,"225,000.00",0.00,0.00,0.00,Credit card,-1213,NaN
1534302,456249,5371697,Closed,currency 1,-2050,0,"-1,960.00","-1,954.00",NaN,0,"43,447.50",0.00,0.00,0.00,Consumer credit,-770,NaN
1534303,456249,5371698,Closed,currency 1,-1912,0,"-1,727.00","-1,709.00",NaN,0,"248,692.50",0.00,0.00,0.00,Consumer credit,-779,NaN
1534304,456249,5371699,Closed,currency 1,-2049,0,"-1,960.00","-1,960.00",NaN,0,"43,447.50",0.00,NaN,0.00,Consumer credit,-1765,NaN
1534305,456249,5371703,Closed,currency 1,-1165,0,-903.00,-903.00,NaN,0,"450,000.00",NaN,NaN,0.00,Consumer credit,-900,NaN
1534306,456249,5371704,Active,currency 1,-483,0,"1,363.00",NaN,NaN,0,"180,000.00","163,071.00",NaN,0.00,Credit card,-12,NaN
1534307,456249,5371705,Closed,currency 1,-1680,0,NaN,-291.00,0.00,0,"315,000.00",0.00,0.00,0.00,Credit card,-208,NaN
1534308,456249,5371706,Closed,currency 1,-903,0,-658.00,-658.00,0.00,0,"765,000.00",0.00,0.00,0.00,Another type of loan,-657,NaN

In [42]:
bur_data['CREDIT_ACTIVE'].value_counts()

Closed      1079273
Active       630607
Sold           6527
Bad debt         21
Name: CREDIT_ACTIVE, dtype: int64

In [44]:
bur_data1 = bur_data[bur_data['SK_ID_CURR']==456249]

Summary_data = bur_data1.groupby('SK_ID_CURR', as_index=False).agg(
    BUR_CNT = ("SK_ID_BUREAU","count")
    , BUR_ACTIVE_CNT = ("CREDIT_ACTIVE", lambda x: sum(x=='Active'))
    , BUR_SOLD_CNT = ("CREDIT_ACTIVE", lambda x: sum(x=='Sold'))
    , BUR_BAD_DEPT_CNT = ("CREDIT_ACTIVE", lambda x: sum(x=='Bad debt'))
)
Summary_data.shape

(1, 5)

In [45]:
Summary_data

   SK_ID_CURR  BUR_CNT  BUR_ACTIVE_CNT  BUR_SOLD_CNT  BUR_BAD_DEPT_CNT
0      456249       13               2             0                 0