<a href="https://colab.research.google.com/github/harirm85/Hari_ML_workshop/blob/main/Home_Credit_Default_Risk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount drive and connect to Kaggle

In [1]:
# Connect to Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Copy the Jason file and set security
!mkdir -p ~/.kaggle
!cp '/content/drive/MyDrive/Kaggle/kaggle.json' ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# # Upload Jason file from system manually 
# from google.colab import files
# files.upload()
# # Copy the Jason file and set security
# !mkdir -p ~/.kaggle
# !cp kaggle.json ~/.kaggle/
# !chmod 600 ~/.kaggle/kaggle.json

In [3]:
#Download data
!kaggle competitions download -c home-credit-default-risk

Downloading home-credit-default-risk.zip to /content
100% 688M/688M [00:08<00:00, 145MB/s]
100% 688M/688M [00:08<00:00, 84.5MB/s]

In [4]:
import zipfile

# Specify the path to the downloaded zip file
zip_path = "/content/home-credit-default-risk.zip"

# Specify the directory to extract the files to
extract_path = "/content/home-credit-default-risk"

# Extract the zip file
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

In [ ]:
# import shutil

# # Specify the path to the directory where you want to save the dataset
# save_path = "/content/drive/MyDrive/Kaggle/home-credit-default-risk"

# # Create a copy of the extracted dataset in the save path
# shutil.copytree(extract_path, save_path)

# Import libraries

In [16]:
#!pip install xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (1.7.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.10.1)

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.float_format = '{:,.2f}'.format

# Verify data

In [12]:
app_data = pd.read_csv('/content/home-credit-default-risk/application_train.csv')
print(app_data.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [31]:
dtypes= {'NAME_CONTRACT_TYPE': 'category' ,'CODE_GENDER': 'category','FLAG_OWN_CAR': 'category','FLAG_OWN_REALTY': 'category'
  ,'NAME_TYPE_SUITE': 'category','NAME_INCOME_TYPE': 'category','NAME_EDUCATION_TYPE': 'category','NAME_FAMILY_STATUS': 'category'
  ,'NAME_HOUSING_TYPE': 'category','FLAG_MOBIL': 'category','FLAG_EMP_PHONE': 'category','FLAG_WORK_PHONE': 'category'
  ,'FLAG_CONT_MOBILE': 'category','FLAG_PHONE': 'category','FLAG_EMAIL': 'category','OCCUPATION_TYPE': 'category'
  ,'CNT_FAM_MEMBERS': 'category','REGION_RATING_CLIENT': 'category','REGION_RATING_CLIENT_W_CITY': 'category'  
  ,'WEEKDAY_APPR_PROCESS_START': 'category','HOUR_APPR_PROCESS_START': 'category','REG_REGION_NOT_LIVE_REGION': 'category'
  ,'REG_REGION_NOT_WORK_REGION': 'category','LIVE_REGION_NOT_WORK_REGION': 'category','REG_CITY_NOT_LIVE_CITY': 'category'
  ,'REG_CITY_NOT_WORK_CITY': 'category','LIVE_CITY_NOT_WORK_CITY': 'category','ORGANIZATION_TYPE': 'category'
  ,'FONDKAPREMONT_MODE': 'category','HOUSETYPE_MODE': 'category','WALLSMATERIAL_MODE': 'category', 'EMERGENCYSTATE_MODE': 'category'
  ,'FLAG_DOCUMENT_2': 'category','FLAG_DOCUMENT_3': 'category','FLAG_DOCUMENT_4': 'category', 'FLAG_DOCUMENT_5': 'category'
  ,'FLAG_DOCUMENT_6': 'category','FLAG_DOCUMENT_7': 'category','FLAG_DOCUMENT_8': 'category', 'FLAG_DOCUMENT_9': 'category'
  ,'FLAG_DOCUMENT_10': 'category','FLAG_DOCUMENT_11': 'category','FLAG_DOCUMENT_12': 'category', 'FLAG_DOCUMENT_13': 'category'
  ,'FLAG_DOCUMENT_14': 'category','FLAG_DOCUMENT_15': 'category','FLAG_DOCUMENT_16': 'category', 'FLAG_DOCUMENT_17': 'category'
  ,'FLAG_DOCUMENT_18': 'category','FLAG_DOCUMENT_19': 'category','FLAG_DOCUMENT_20': 'category', 'FLAG_DOCUMENT_21': 'category'
 }

app_data = app_data.astype(dtypes)

In [32]:
app_data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #    Column                        Non-Null Count   Dtype
---   ------                        --------------   -----
 0    SK_ID_CURR                    307511 non-null  int64
 1    TARGET                        307511 non-null  int64
 2    NAME_CONTRACT_TYPE            307511 non-null  category
 3    CODE_GENDER                   307511 non-null  category
 4    FLAG_OWN_CAR                  307511 non-null  category
 5    FLAG_OWN_REALTY               307511 non-null  category
 6    CNT_CHILDREN                  307511 non-null  int64
 7    AMT_INCOME_TOTAL              307511 non-null  float64
 8    AMT_CREDIT                    307511 non-null  float64
 9    AMT_ANNUITY                   307499 non-null  float64
 10   AMT_GOODS_PRICE               307233 non-null  float64
 11   NAME_TYPE_SUITE               306219 non-null  category
 12   NAME_INCOME_TYPE              307511 non-null  category
 13   NAME_EDUCATION_TYPE           307511 non-null  category
 14   NAME_FAMILY_STATUS            307511 non-null  category
 15   NAME_HOUSING_TYPE             307511 non-null  category
 16   REGION_POPULATION_RELATIVE    307511 non-null  float64
 17   DAYS_BIRTH                    307511 non-null  int64
 18   DAYS_EMPLOYED                 307511 non-null  int64
 19   DAYS_REGISTRATION             307511 non-null  float64
 20   DAYS_ID_PUBLISH               307511 non-null  int64
 21   OWN_CAR_AGE                   104582 non-null  float64
 22   FLAG_MOBIL                    307511 non-null  category
 23   FLAG_EMP_PHONE                307511 non-null  category
 24   FLAG_WORK_PHONE               307511 non-null  category
 25   FLAG_CONT_MOBILE              307511 non-null  category
 26   FLAG_PHONE                    307511 non-null  category
 27   FLAG_EMAIL                    307511 non-null  category
 28   OCCUPATION_TYPE               211120 non-null  category
 29   CNT_FAM_MEMBERS               307509 non-null  category
 30   REGION_RATING_CLIENT          307511 non-null  category
 31   REGION_RATING_CLIENT_W_CITY   307511 non-null  category
 32   WEEKDAY_APPR_PROCESS_START    307511 non-null  category
 33   HOUR_APPR_PROCESS_START       307511 non-null  category
 34   REG_REGION_NOT_LIVE_REGION    307511 non-null  category
 35   REG_REGION_NOT_WORK_REGION    307511 non-null  category
 36   LIVE_REGION_NOT_WORK_REGION   307511 non-null  category
 37   REG_CITY_NOT_LIVE_CITY        307511 non-null  category
 38   REG_CITY_NOT_WORK_CITY        307511 non-null  category
 39   LIVE_CITY_NOT_WORK_CITY       307511 non-null  category
 40   ORGANIZATION_TYPE             307511 non-null  category
 41   EXT_SOURCE_1                  134133 non-null  float64
 42   EXT_SOURCE_2                  306851 non-null  float64
 43   EXT_SOURCE_3                  246546 non-null  float64
 44   APARTMENTS_AVG                151450 non-null  float64
 45   BASEMENTAREA_AVG              127568 non-null  float64
 46   YEARS_BEGINEXPLUATATION_AVG   157504 non-null  float64
 47   YEARS_BUILD_AVG               103023 non-null  float64
 48   COMMONAREA_AVG                92646 non-null   float64
 49   ELEVATORS_AVG                 143620 non-null  float64
 50   ENTRANCES_AVG                 152683 non-null  float64
 51   FLOORSMAX_AVG                 154491 non-null  float64
 52   FLOORSMIN_AVG                 98869 non-null   float64
 53   LANDAREA_AVG                  124921 non-null  float64
 54   LIVINGAPARTMENTS_AVG          97312 non-null   float64
 55   LIVINGAREA_AVG                153161 non-null  float64
 56   NONLIVINGAPARTMENTS_AVG       93997 non-null   float64
 57   NONLIVINGAREA_AVG             137829 non-null  float64
 58   APARTMENTS_MODE               151450 non-null  float64
 59   BASEMENTAREA_MODE             127568 non-null  float64
 60   YEARS_BEGINEXPLUATATION_MODE  157504 non-null  float64
 61   YEARS_BUILD_MODE              103023 non-null  float64
 62   COMMONAREA_MODE               92646 non-null   float64
 63   ELEVATORS_MODE                143620 non-null  float64
 64   ENTRANCES_MODE                152683 non-null  float64
 65   FLOORSMAX_MODE                154491 non-null  float64
 66   FLOORSMIN_MODE                98869 non-null   float64
 67   LANDAREA_MODE                 124921 non-null  float64
 68   LIVINGAPARTMENTS_MODE         97312 non-null   float64
 69   LIVINGAREA_MODE               153161 non-null  float64
 70   NONLIVINGAPARTMENTS_MODE      93997 non-null   float64
 71   NONLIVINGAREA_MODE            137829 non-null  float64
 72   APARTMENTS_MEDI               151450 non-null  float64
 73   BASEMENTAREA_MEDI             127568 non-null  float64
 74   YEARS_BEGINEXPLUATATION_MEDI  157504 non-null  float64
 75   YEARS_BUILD_MEDI              103023 non-null  float64
 76   COMMONAREA_MEDI               92646 non-null   float64
 77   ELEVATORS_MEDI                143620 non-null  float64
 78   ENTRANCES_MEDI                152683 non-null  float64
 79   FLOORSMAX_MEDI                154491 non-null  float64
 80   FLOORSMIN_MEDI                98869 non-null   float64
 81   LANDAREA_MEDI                 124921 non-null  float64
 82   LIVINGAPARTMENTS_MEDI         97312 non-null   float64
 83   LIVINGAREA_MEDI               153161 non-null  float64
 84   NONLIVINGAPARTMENTS_MEDI      93997 non-null   float64
 85   NONLIVINGAREA_MEDI            137829 non-null  float64
 86   FONDKAPREMONT_MODE            97216 non-null   category
 87   HOUSETYPE_MODE                153214 non-null  category
 88   TOTALAREA_MODE                159080 non-null  float64
 89   WALLSMATERIAL_MODE            151170 non-null  category
 90   EMERGENCYSTATE_MODE           161756 non-null  category
 91   OBS_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 95   DAYS_LAST_PHONE_CHANGE        307510 non-null  float64
 96   FLAG_DOCUMENT_2               307511 non-null  category
 97   FLAG_DOCUMENT_3               307511 non-null  category
 98   FLAG_DOCUMENT_4               307511 non-null  category
 99   FLAG_DOCUMENT_5               307511 non-null  category
 100  FLAG_DOCUMENT_6               307511 non-null  category
 101  FLAG_DOCUMENT_7               307511 non-null  category
 102  FLAG_DOCUMENT_8               307511 non-null  category
 103  FLAG_DOCUMENT_9               307511 non-null  category
 104  FLAG_DOCUMENT_10              307511 non-null  category
 105  FLAG_DOCUMENT_11              307511 non-null  category
 106  FLAG_DOCUMENT_12              307511 non-null  category
 107  FLAG_DOCUMENT_13              307511 non-null  category
 108  FLAG_DOCUMENT_14              307511 non-null  category
 109  FLAG_DOCUMENT_15              307511 non-null  category
 110  FLAG_DOCUMENT_16              307511 non-null  category
 111  FLAG_DOCUMENT_17              307511 non-null  category
 112  FLAG_DOCUMENT_18              307511 non-null  category
 113  FLAG_DOCUMENT_19              307511 non-null  category
 114  FLAG_DOCUMENT_20              307511 non-null  category
 115  FLAG_DOCUMENT_21              307511 non-null  category
 116  AMT_REQ_CREDIT_BUREAU_HOUR    265992 non-null  float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     265992 non-null  float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    265992 non-null  float64
 119  AMT_REQ_CREDIT_BUREAU_MON     265992 non-null  float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     265992 non-null  float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    265992 non-null  float64
dtypes: category(52), float64(64), int64(6)
memory usage: 179.5 MB

#Shape Data

In [33]:
label_col = 'TARGET'

feature_columns = app_data.columns

feature_columns = feature_columns.drop (['SK_ID_CURR', 'TARGET']) 
print (feature_columns)

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=120)

In [34]:
X = app_data[feature_columns]
y = app_data[[label_col]]

print (X.shape)
print (y.shape)

(307511, 120)
(307511, 1)

In [41]:
import xgboost as xgb
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

bst = xgb.XGBClassifier(tree_method="hist",enable_categorical=True)
bst.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=True, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [46]:
#y_pred = bst.predict(X_test)
accuracy = bst.score(X_test, y_test)
print(accuracy)

0.9195811586426679

In [59]:
fi_df = pd.DataFrame()

fi_df['Col'] = feature_columns
fi_df['imp'] = bst.feature_importances_

fi_df.sort_values(by='imp',ascending=False,inplace=True)

fi_df.head(50)

                              Col  imp
40                   EXT_SOURCE_2 0.04
41                   EXT_SOURCE_3 0.04
1                     CODE_GENDER 0.03
95                FLAG_DOCUMENT_3 0.02
11            NAME_EDUCATION_TYPE 0.02
0              NAME_CONTRACT_TYPE 0.02
8                 AMT_GOODS_PRICE 0.02
29    REGION_RATING_CLIENT_W_CITY 0.02
39                   EXT_SOURCE_1 0.02
6                      AMT_CREDIT 0.01
19                    OWN_CAR_AGE 0.01
38              ORGANIZATION_TYPE 0.01
88            EMERGENCYSTATE_MODE 0.01
7                     AMT_ANNUITY 0.01
15                     DAYS_BIRTH 0.01
16                  DAYS_EMPLOYED 0.01
35         REG_CITY_NOT_LIVE_CITY 0.01
10               NAME_INCOME_TYPE 0.01
108              FLAG_DOCUMENT_16 0.01
90       DEF_30_CNT_SOCIAL_CIRCLE 0.01
26                OCCUPATION_TYPE 0.01
110              FLAG_DOCUMENT_18 0.01
77                 FLOORSMAX_MEDI 0.01
22                FLAG_WORK_PHONE 0.01
118     AMT_REQ_CREDIT_BUREAU_QRT 0.01
75                 ELEVATORS_MEDI 0.01
12             NAME_FAMILY_STATUS 0.01
53                 LIVINGAREA_AVG 0.01
92       DEF_60_CNT_SOCIAL_CIRCLE 0.01
79                  LANDAREA_MEDI 0.01
31        HOUR_APPR_PROCESS_START 0.01
85                 HOUSETYPE_MODE 0.01
72   YEARS_BEGINEXPLUATATION_MEDI 0.01
61                 ELEVATORS_MODE 0.01
93         DAYS_LAST_PHONE_CHANGE 0.01
78                 FLOORSMIN_MEDI 0.01
13              NAME_HOUSING_TYPE 0.01
68       NONLIVINGAPARTMENTS_MODE 0.01
91       OBS_60_CNT_SOCIAL_CIRCLE 0.01
87             WALLSMATERIAL_MODE 0.01
23               FLAG_CONT_MOBILE 0.01
18                DAYS_ID_PUBLISH 0.01
65                  LANDAREA_MODE 0.01
17              DAYS_REGISTRATION 0.01
30     WEEKDAY_APPR_PROCESS_START 0.01
86                 TOTALAREA_MODE 0.01
116    AMT_REQ_CREDIT_BUREAU_WEEK 0.01
56                APARTMENTS_MODE 0.01
73               YEARS_BUILD_MEDI 0.01
70                APARTMENTS_MEDI 0.01